---

const { data } = Astro.props;
import Button from "./Button.astro";
---

<section>
  <div class="image_container">
  <img src={data.image} />
  </div>
  <div>
  <article>

    <div class="speakerinfo">
      <h3 class="h3thin">Speaker 2024</h3>
      <h2>{data.name}</h2>
      <h3 class="h3bold">{data.titel}</h3>

      <div class="textcontainer">
      <h3 class="h3thin">{data.origin}</h3>
    </div>
    <h3 class="h3thin">{data.speech}</h3>
    </div>
    <div class="linkbox">
      <Button variant= "primary" text="Tickets"/>
<Button variant= "primary" text="Speakers"/>
    </div>
  </article>
  </div>
</section>


<style>
  section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    
  }

  .image_container {
flex-grow: 1;
align-self: flex-end;

  }

  img {
min-width: 50%;
margin-top: 20rem;


  }

  article {
    color: var(--text-color-alternativ);
    background-color: var(--brand-color-primary);
    display: flex;
    flex-direction: column;
    border-radius: 50px 0 0 50px;
    padding: 2rem;
    padding-top: 5rem;
    width: 40rem;
    gap: 2rem;
   max-height: fit-content;
  }

  .speakerinfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }



  .linkbox {
    display: flex;
    gap: 1.5rem;
  }

  .h3thin {
    font-weight: 100;
    font-size: var(--h3-thin-web);
  }

  .h3bold {
    font-weight: 700;
    font-size: var(--h3-bold-web);
  }

@media (max-width: 1000px) {
    img {
      max-width: 400px;
      margin-top: 20rem;
    }

    article {
      max-width: 500px;
    }
  }

  @media (max-width: 800px) {
    section {
      background-color: var(--brand-color-primary);
      gap: 0;
    }
    article {
      padding: 2rem 2rem 2rem 1rem;
      max-width: 400px;
    }
    div {
      justify-items: center;
    }
    img {
      max-width: 300px;
      margin: 0;
    }
  }

  @media (max-width: 600px) {
    section {
      flex-wrap: wrap;
    }


    article {
      max-width: 400px;
    }

    img {
      max-width: 390px;
    }
  }

</style>
