---
const { data } = Astro.props;
import Button from "../components/Button.astro";
const linksite = `speakers/${data.slug}`;
---


<article>
  <div class="textcontainer">
    <h4 class="titel">{data.titel}</h4>
    <h4 class="firm">{data.firm}</h4>
  </div>
  <img src={data.image} />
  <div class="textcontainer">
    <h3>{data.name}</h3>
    <h4 class="origin">{data.origin}</h4>
    <h4 class="date">{data.date}</h4>
  </div>
  <div class="knap">
    <Button variant="arrow" site={linksite} />
  </div>
</article>


<style>
  article {
    background-color: var(--brand-color-primary);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem 0;
    width: 20rem;
    justify-content: space-between;
    position: relative;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .textcontainer {
    padding-left: 1rem;
  }

  .knap {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .titel {
    font-size: var(--h4-bold-web);
    color: var(--text-color-alternativ);
  }

  .firm {
    font-size: var(--h4-thin-web);
    color: var(--text-color-alternativ);

    font-weight: 100;
  }

  .date {
    font-size: var(--body-reg-info-web);
    color: var(--text-color-alternativ);
    font-weight: 400;
  }

  h3 {
    font-size: var(--h3-bold-web);
    color: var(--text-color-alternativ);
  }

  .origin {
    font-size: var(--h4-thin-web);
    color: var(--text-color-alternativ);

    font-weight: 100;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: grayscale(100%);
    align-self: center;
  }
</style>
