---
const { data } = Astro.props;
---

<section>
  <article class="text" class="push-left">
    <h1 class="thin">{data.titelthin}</h1>
    <h1>{data.titelbold}</h1>
    {data.section1 && <p>{data.section1}</p>}
    {data.section2 && <p>{data.section2}</p>}
    {data.section3 && <p>{data.section3}</p>}
    {data.section4 && <p>{data.section4}</p>}
    <a href="/# ">{data.link1}</a>
  </article>
  <div>
    <img class="img" class="push-right" src={data.image} alt="prev talks" />
  </div>
</section>

<style>
  div {
    position: relative;
    grid-row: 1;
    grid-column: span 2;
    max-width: 500px;
    max-height: 375px;
  }

  img {
    position: absolute;
    bottom: -8rem;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5 ease-in-out;
  }

  .thin {
    font-weight: 100;
    height: 40px;
  }

  article {
    max-width: 800px;
    grid-column: span 3;
    grid-row: 1;
    background-color: var(--brand-color-primary);
    border-radius: 0 50px 50px 0;
    padding: 2rem 2rem 2rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 1;
    transform: translateX(0);
    transition: all 1 ease-in-out;
  }

  h1 {
    color: var(--text-color-alternativ);
  }

  p {
    color: var(--text-color-alternativ);
    font-weight: 100;
    max-width: 65ch;
  }

  .push-right {
    opacity: 0;
    transform: translateX(50px);
  }

  .push-left {
    opacity: 0;
    transform: translateX(-50px);
  }

  section:nth-child(even) article {
    order: 1;
    border-radius: 50px 0 0 50px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 16rem;
    gap: 7rem;
    position: relative;
  }

  @media (max-width: 1000px) {
    section {
      gap: 2rem;
    }

    article {
      padding: 2rem 2rem 2rem 5rem;
    }
    h1 {
      font-size: 40px;
    }
    .thin {
      line-height: 90px;
    }
    img {
      bottom: -3rem;
    }
  }

  @media (max-width: 800px) {
    section {
      background-color: var(--brand-color-primary);
    }
    img {
      position: relative;
    }

    div {
    }
  }
</style>

<script>
  const text = document.querySelector(".text");
  const img = document.querySelector(".img");

  window.addEventListener("scroll", appearOnScroll);

  function appearOnScroll() {
    let textPosition = text.getBoundingClientRect().top;
    let windowHeight = window.innerHeight / 1.5;

    console.log(windowHeight);

    if (windowHeight > textPosition) {
      text.classList.remove("push-left");
      img.classList.remove("push-right");
    } else {
      text.classList.add("push-left");
      img.classList.add("push-right");
    }
  }
</script>
