---
const { data } = Astro.props;
---

<section>
  <article class="text" class="push-left">
    <h1 class="thin">{data.titelthin}</h1>
    <h1>{data.titelbold}</h1>
    {data.section1 && <p>{data.section1}</p>}
    {data.section2 && <p>{data.section2}</p>}
    {data.section3 && <p>{data.section3}</p>}
    {data.section4 && <p>{data.section4}</p>}
    <a href="/# ">{data.link1}</a>
  </article>
  <img class="img" class="push-right" src={data.image} alt="prev talks" />
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16rem;
    gap: 10rem;
  }

  img {
    padding-top: 110px;
    max-width: 35%;
    height: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5 ease-in-out;
  }

  .thin {
    font-weight: 100;
    height: 40px;
  }

  article {
    background-color: var(--brand-color-primary);
    border-radius: 0 50px 50px 0;
    padding: 2rem 2rem 2rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 673px;
    max-height: fit-content;
    opacity: 1;
    transform: translateX(0);
    transition: all 1 ease-in-out;
  }
  .text {
  }

  h1 {
    color: var(--text-color-alternativ);
  }

  p {
    color: var(--text-color-alternativ);
    font-weight: 100;
  }

  .push-right {
    opacity: 0;
    transform: translateX(50px);
  }

  .push-left {
    opacity: 0;
    transform: translateX(-50px);
  }

  section:nth-child(even) article {
    order: 1;
    border-radius: 50px 0 0 50px;
  }
</style>

<script>
  const text = document.querySelector(".text");
  const img = document.querySelector(".img");

  window.addEventListener("scroll", appearOnScroll);

  function appearOnScroll() {
    let textPosition = text.getBoundingClientRect().top;
    let windowHeight = window.innerHeight / 1.5;

    console.log(windowHeight);

    if (windowHeight > textPosition) {
      text.classList.remove("push-left");
      img.classList.remove("push-right");
    } else {
      text.classList.add("push-left");
      img.classList.add("push-right");
    }
  }
</script>
