---
import Button from "./Button.astro";
const { data } = Astro.props;
---

<section class="card-container">
  <article class="card-front">
    <img src={data.image} alt="theme image" />
    <h3>{data.name}</h3>
    <div>
      <h3 class="h3thin">{data.place}</h3>
      <h3 class="h3thin">{data.date}</h3>
    </div>
    <div class="pricecontainer">
      <h4 class="h4thin">(Early bird price)</h4>
      {data.price && <h3>{data.price}</h3>}
    </div>
    <Button variant="primary" text={data.link} />
    <Button variant="secondary" text={data.link2} />
  </article>
  <article class="card-back">
    <img src={data.image} alt="theme image" />
    <h3>{data.name}</h3>
    <p set:html={data.info} />
    <ul set:html={data.info} />
    <Button variant="primary" text={data.link} />
    <Button variant="secondary" text={data.link2} />
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
  }

  .card-front {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color-primary);
    color: var(--text-color-alternativ);
    width: 20rem;
    height: 650px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .pricecontainer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .card-back {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color-primary);
    color: var(--text-color-alternativ);
    width: 20rem;
    height: 650px;
  }

  .h3thin {
    font-weight: 100;
  }

  .h4thin {
    font-weight: 100;
  }

  ul {
    font-size: xx-small;
  }
</style>
